{% extends "base.html" %}

{% block content %}
<br>
  <h1>Author List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href="{% url 'author-detail' author.pk %}">{{ author.last_name }}, {{ author.first_name }} 
            {% if author.date_of_death %} ({{ author.date_of_birth}}- {{ author.date_of_death}}) {% else %} ({{ author.date_of_birth}}- )  {% endif %} </a>
      </li>
      <br>
  
      
    {% endfor %}
    
  </ul>
  
  {% endif %}
{% endblock %}